    * {box-sizing: border-box; margin: 0;}
*{    font-family: "Bitter",serif;}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu a{
  background:#3d3d3d;
  color: #fff;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #666;
  transition: 0.5s all;
}
.sidebar{
  width: 200px;
  margin: 20px;
}
.menu a:hover{
  background: #666;
  padding: 10px 0 10px 20px;
}
.menu li:first-child a, .menu li .v_menu li:first-child a{
  border-radius: 3px 3px 0 0;
}
.menu li:last-child a, .menu li .v_menu li:last-child a{
  border-radius: 0 0 3px 3px;
  border-bottom: 0;
}
.menu li .v_menu li a{
  border-radius: 0;
}

.p_menu{position: relative;}
.v_menu{
  position: absolute;
  width: 100%;
  left: 100%;
  top: -9999px;
  opacity: 0;
  border-left: 10px solid transparent;
  transition: 0.5s opacity;
}

.p_menu:hover .v_menu{
  opacity: 1;
  top: 0;
}

.p_menu::after{
  content: "";
  position: absolute;
  border:5px solid;
  border-color: transparent transparent transparent #eee;
  top:1em;
  right: 0.7em;
  transition: 0.5s;
}
.p_menu:hover::after{
  transform: scaleX(-1);
}

.header{
      width: 100%;
    height: 49px;
    border-bottom: 5px solid;
    border-color: #806836;
    -webkit-box-shadow: 0px 13px 5px 0px rgba(207,207,87,1);
-moz-box-shadow: 0px 13px 5px 0px rgba(207,207,87,1);
box-shadow: 0px 13px 5px 0px rgba(207,207,87,1);
}

.body{
    display: inline-block;
    float: right;
    width: 938px;
    height: 500px;
    background-color: rgb(255, 255, 177);
    margin-top: -479px;
    margin-right: 50px;
    border-radius: 28px;
}

button{
    position: relative;
    top: 6px;
    left: 47%;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0px 15px;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Bitter",serif;
    line-height: 1.8;
    background-color: #ffffff;
    border-color: red;
    appearance: none;
    box-shadow: none;
}

button:hover{
  background-color: rgb(255, 255, 177);
  color: red;
   }